.reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: url('img/header__background.jpg') no-repeat center;
    height: 565px;
    &__text_container {
        color: #fff;
        font-family: RalewaySemiBold;
        margin-top: 124px;
    }
    &__title {
        font-size: 45px;
        line-height: 54px;
    }
    &__caption {
        font-size: 15px;
        line-height: 25px;
        margin-top: 12px;
    }
    &__btn_container {
        margin-top: 74px;
    }
    &__get_started {
        @include big_btn(#061e37, #fff);
        &:hover {
            background: #fff;
            color: #061e37;
        }
    }
}