/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  transition: ease 0.3s; }

body {
  overflow-x: hidden; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222;
  transition: ease 0.3s; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

a {
  text-decoration: none; }

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear; }

.fade.in {
  opacity: 1; }

.collapse {
  display: none; }

.collapse.in {
  display: block; }

tr.collapse.in {
  display: table-row; }

tbody.collapse.in {
  display: table-row-group; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: " "; }

.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

.carousel {
  position: relative; }

.carousel.pointer-event {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden; }

.carousel-inner::after {
  display: block;
  clear: both;
  content: ""; }

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out; }

@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none; } }

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block; }

.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

.carousel-item-prev:not(.carousel-item-right),
.active.carousel-item-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }

.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  -webkit-transform: none;
  transform: none; }

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  z-index: 1;
  opacity: 1; }

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.6s; }

@media (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
    transition: none; } }

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease; }

@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev,
  .carousel-control-next {
    transition: none; } }

.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9; }

.carousel-control-prev {
  left: 0; }

.carousel-control-next {
  right: 0; }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat 50% / 100% 100%; }

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e"); }

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e"); }

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none; }

.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity 0.6s ease; }

@media (prefers-reduced-motion: reduce) {
  .carousel-indicators li {
    transition: none; } }

.carousel-indicators .active {
  opacity: 1; }

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center; }

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.vert .carousel-item-next,
.vert .active.carousel-item-right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100% 0); }

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

@font-face {
  font-family: RalewayRegular;
  src: url("fonts/Raleway-Regular.ttf"); }

@font-face {
  font-family: RalewayBold;
  src: url("fonts/Raleway-Bold.ttf"); }

@font-face {
  font-family: RalewayExtraBold;
  src: url("fonts/Raleway-ExtraBold.ttf"); }

@font-face {
  font-family: RalewaySemiBold;
  src: url("fonts/Raleway-SemiBold.ttf"); }

@font-face {
  font-family: RalewayItalic;
  src: url("fonts/Raleway-Italic.ttf"); }

@font-face {
  font-family: RalewayMedium;
  src: url("fonts/Raleway-Medium.ttf"); }

.header {
  background: url("img/header__background.jpg") no-repeat center;
  box-sizing: border-box;
  padding-top: 50px;
  height: 750px; }
  .header__nav_burger {
    display: none;
    border: none;
    background: none;
    padding: 0;
    color: #fff;
    font-size: 18px; }
    .header__nav_burger:hover {
      color: #061e37; }
  .header__nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: calc(100% - 500px); }
  .header__top_panel {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__links_list {
    display: flex;
    justify-content: space-between;
    width: 445px;
    margin-right: 20%; }
  .header__links_item {
    color: #ffffff;
    font-family: RalewayBold;
    font-size: 15px; }
    .header__links_item:hover {
      color: #061e37; }
  .header__sign_up_btn {
    width: 80px;
    height: 25px;
    background: none;
    border: #ffffff solid 1px;
    border-radius: 2px;
    font-family: RalewayRegular;
    font-size: 12px;
    color: #ffffff;
    text-transform: lowercase; }
    .header__sign_up_btn:hover {
      color: #061e37;
      border-color: #061e37; }
  .header__buy_now {
    margin-top: 154px;
    color: #ffffff;
    display: flex;
    justify-content: space-between; }
  .header__big_text {
    font-size: 55px;
    font-family: RalewayExtraBold;
    text-transform: uppercase;
    line-height: 1.2; }
  .header__small_text {
    font-size: 18px;
    font-family: RalewayRegular;
    line-height: 2;
    margin-top: 5px; }
  .header__btns_container {
    margin-top: 29px; }
  .header__btn_buy_now {
    color: #ffffff;
    font-family: RalewayBold;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #061e37;
    width: 150px;
    border: none;
    border-radius: 5px;
    height: 55px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin-right: 30px; }
    .header__btn_buy_now:hover {
      background: #ffffff;
      color: #061e37; }
  .header__btn_try {
    color: #061e37;
    font-family: RalewayBold;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #ffffff;
    width: 160px;
    border: none;
    border-radius: 5px;
    height: 55px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 0; }
    .header__btn_try:hover {
      background: #061e37;
      color: #ffffff; }
  .header__video_container {
    width: 600px;
    height: 320px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3);
    background: url("img/video__background.png") no-repeat -1px -1px;
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer; }
  .header__video_play_btn {
    color: #ffffff;
    font-size: 10px;
    width: 60px;
    height: 60px;
    background: #061e37;
    border: 1px solid #061e37;
    border-radius: 5px;
    padding: 0; }
  .header__video_container:hover .header__video_play_btn {
    color: #061e37;
    background: #ffffff; }
  .header__watch_text {
    font-size: 12px;
    font-family: RalewayBold;
    color: #061e37;
    text-transform: uppercase;
    margin-top: 20px; }

.get_started {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box; }
  .get_started__top_container {
    font-family: RalewaySemiBold; }
  .get_started__heading {
    color: #061e37;
    font-family: RalewaySemiBold;
    font-size: 45px;
    margin-top: 95px; }
  .get_started__sub_title {
    color: #b0bec5;
    font: 25px/53px RalewaySemiBold; }
  .get_started__caption {
    font: 15px/25px RalewayRegular;
    color: #b0bec5;
    margin-top: 1px; }
  .get_started__card_list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-top: 90px; }
  .get_started__card_item {
    box-sizing: border-box;
    padding: 5px 3px 0 4px; }
  .get_started__card_item--lifted {
    position: relative;
    bottom: 5px; }
  .get_started__card_item--lifted .get_started__card_heading {
    margin-top: 38px; }
  .get_started__card_heading {
    margin-top: 42px;
    font-size: 20px;
    font-family: RalewaySemiBold;
    color: #061e37; }
  .get_started__card_text {
    margin-top: 14px;
    font-size: 15px;
    color: #78909c;
    font-family: RalewayRegular;
    line-height: 20px; }
  .get_started__btn {
    color: #ffffff;
    font-family: RalewayBold;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #1de9b6;
    width: 150px;
    border: none;
    border-radius: 5px;
    height: 55px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin-top: 70px;
    margin-bottom: 100px; }
    .get_started__btn:hover {
      background-color: #061e37; }

.stats {
  font-family: RalewayExtraBold;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto; }
  .stats__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px; }
  .stats__item {
    min-width: 300px;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .stats__item_icon {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .stats__item_text {
    width: 120px;
    margin-left: 20px;
    color: #fff; }
  .stats__item--business {
    background-color: #80d8ff;
    color: #80d8ff; }
  .stats__item--downloads {
    background-color: #82b1ff;
    color: #82b1ff; }
  .stats__item--installs {
    background-color: #b388ff;
    color: #b388ff; }
  .stats__item--users {
    background-color: #ea80fc;
    color: #ea80fc; }

.services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  box-sizing: content-box;
  padding-bottom: 84px; }
  .services__heading {
    color: #061e37;
    font-family: RalewaySemiBold;
    font-size: 45px;
    margin-top: 95px; }
  .services__caption {
    font-size: 15px;
    line-height: 25px;
    font-family: RalewayRegular;
    color: #b0bec5;
    margin-top: 16px; }
  .services__accordion {
    width: 800px;
    margin-top: 42px; }
  .services__card {
    cursor: pointer;
    margin-bottom: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px; }
  .services__card_clickable {
    height: 51px;
    color: #061e37;
    font-size: 15px;
    font-family: RalewayBold;
    text-transform: uppercase;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 5px; }
  .services__accordion_icon {
    margin-left: 26px; }
  .services__accordio_collapse-icon {
    margin-left: auto;
    margin-right: 25px; }
  .services__accordion_caption {
    margin-left: 27px; }
  .services__card_body {
    display: flex;
    padding: 8px 25px 25px 25px;
    text-align: left; }
  .services__accordion_img {
    flex-shrink: 0; }
  .services__accordion_text {
    font-size: 15px;
    line-height: 25px;
    font-family: RalewayRegular;
    color: #061e37;
    margin-left: 25px; }

.testimonials {
  background: url("img/header__background.jpg") no-repeat center; }
  .testimonials .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 565px; }
  .testimonials__left_container {
    width: 600px;
    height: 400px; }
  .testimonials__text_container {
    color: #fff;
    font-family: RalewaySemiBold;
    margin-top: 124px;
    display: inline-block; }
  .testimonials__title {
    font-size: 45px;
    line-height: 54px; }
  .testimonials__caption {
    font-size: 15px;
    line-height: 25px;
    margin-top: 12px; }
  .testimonials__btn_container {
    margin-top: 74px;
    display: inline-block; }
  .testimonials__get_started {
    color: #fff;
    font-family: RalewayBold;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #061e37;
    width: 150px;
    border: none;
    border-radius: 5px;
    height: 55px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 0; }
    .testimonials__get_started:hover {
      background: #fff;
      color: #061e37; }
  .testimonials__carousel {
    width: 760px;
    height: 100%;
    overflow: hidden; }
    .testimonials__carousel_list {
      height: 414px;
      margin-top: 86px; }
    .testimonials__carousel_item {
      height: 100%; }
    .testimonials__carousel_flex_container {
      display: flex;
      height: 100%;
      justify-content: space-around;
      flex-direction: column; }
    .testimonials__carousel_card {
      height: 160px;
      display: flex;
      justify-content: space-between; }
    .testimonials__carousel_card:nth-child(1) {
      position: relative;
      bottom: 22px; }
    .testimonials__carousel_portrait {
      width: 60px;
      height: 60px;
      border-radius: 50px;
      overflow: hidden;
      margin-top: 49px; }
    .testimonials__carousel_text-field {
      height: 100%;
      width: 650px;
      box-sizing: border-box;
      background: #fff;
      border-radius: 6px;
      padding: 30px;
      box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.2); }
      .testimonials__carousel_text-field h1 {
        font-size: 18px;
        color: #061e37;
        font-family: RalewayBold; }
      .testimonials__carousel_text-field p {
        font-size: 15px;
        color: #78909c;
        font-family: RalewayItalic;
        line-height: 25px;
        margin-top: 11px; }
    .testimonials__carousel_control {
      font-size: 30px;
      color: #fff;
      position: absolute;
      left: 426px; }
      .testimonials__carousel_control:hover {
        color: #061e37; }
      .testimonials__carousel_control--prev {
        bottom: 32px; }
      .testimonials__carousel_control--next {
        top: 32px; }

.our_team {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 88px; }
  .our_team__heading {
    color: #061e37;
    font-family: RalewaySemiBold;
    font-size: 45px;
    margin-top: 94px; }
  .our_team__caption {
    color: #90a4ae;
    font-family: RalewayRegular;
    font-size: 15px;
    line-height: 25px;
    width: 600px;
    margin-top: 15px; }
  .our_team__member_item {
    margin: 63px 0 0 19px; }
  .our_team__member_text-block {
    margin-top: 26px;
    width: 665px; }
  .our_team__member_name {
    font-size: 18px;
    font-family: RalewayBold;
    color: #061e37; }
  .our_team__member_info {
    font-size: 15px;
    line-height: 25px;
    font-family: RalewayRegular;
    color: #90a4ae;
    margin: 15px 19px 0 0; }
  .our_team__member_socials {
    margin-top: 26px;
    font-size: 19px; }
    .our_team__member_socials a {
      color: #90a4ae;
      margin-right: 21px; }
      .our_team__member_socials a:hover {
        color: #061e37; }

.contact_us {
  background: #fafafa;
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 100px; }
  .contact_us .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    width: 600px; }
  .contact_us__error {
    color: red;
    position: absolute;
    margin-top: 52px;
    display: block;
    font-family: RalewayRegular; }
    .contact_us__form_input_container--textarea .contact_us__error {
      margin-top: 152px; }
  .contact_us__heading {
    color: #061e37;
    font-family: RalewaySemiBold;
    font-size: 45px;
    margin-top: 44px; }
  .contact_us__caption {
    font-family: RalewayRegular;
    font-size: 15px;
    line-height: 25px;
    color: #061e37;
    margin-top: 16px; }
  .contact_us__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
    color: #061e37;
    font-size: 14px; }
    .contact_us__form_submit {
      color: #fff;
      font-family: RalewayBold;
      font-size: 15px;
      text-transform: uppercase;
      background-color: #1de9b6;
      width: 150px;
      border: none;
      border-radius: 5px;
      height: 55px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
      padding: 0;
      font-family: RalewayMedium;
      font-size: 16px;
      width: 130px;
      height: 50px;
      margin-top: 20px; }
      .contact_us__form_submit:hover {
        background-color: #061e37; }
    .contact_us__form_checkbox {
      position: absolute;
      opacity: 0; }
      .contact_us__form_checkbox_container {
        margin-top: 37px; }
      .contact_us__form_checkbox + label {
        position: relative;
        cursor: pointer;
        padding: 0;
        font-size: 15px;
        color: #061e37;
        font-family: RalewayMedium; }
      .contact_us__form_checkbox + label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 16px;
        height: 16px;
        background: url("img/form__checkbox_square.png"); }
      .contact_us__form_checkbox:focus + label:before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12); }
      .contact_us__form_checkbox:checked + label:after {
        content: '';
        position: absolute;
        left: 3px;
        top: 7px;
        background: black;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 black, 4px 0 0 black, 4px -2px 0 black, 4px -4px 0 black, 4px -6px 0 black, 4px -8px 0 black;
        transform: rotate(45deg); }
    .contact_us__form_input {
      width: 280px;
      height: 50px;
      border: 1px solid #061e37;
      border-radius: 5px;
      font-family: RalewayMedium;
      padding-left: 18px;
      box-sizing: border-box; }
      .contact_us__form_input_container {
        margin-top: 20px; }
        .contact_us__form_input_container--textarea {
          width: 100%;
          height: 150px; }
      .contact_us__form_input--textarea {
        resize: none;
        padding: 16px 18px;
        width: 100%;
        height: 150px; }
      .contact_us__form_input::placeholder {
        color: #061e37;
        opacity: 1; }
      .contact_us__form_input:nth-child(-n + 2) {
        margin: 0; }
      .contact_us__form_input:-ms-input-placeholder {
        color: #061e37; }
      .contact_us__form_input::-ms-input-placeholder {
        color: #061e37; }

.footer {
  background: #061e37;
  height: 300px;
  padding-top: 96px;
  box-sizing: border-box;
  color: #fff; }
  .footer__bottom_panel {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__links_panel {
    margin-top: 50px;
    display: flex;
    justify-content: space-between; }
  .footer__links_main_list {
    display: flex;
    justify-content: space-between;
    width: 445px; }
  .footer__links_item {
    color: #fff;
    font-family: RalewayBold;
    font-size: 15px; }
    .footer__links_item:hover {
      color: #384b5f; }
  .footer__links_secondary_list {
    display: flex; }
    .footer__links_secondary_list_container {
      display: inline-block; }
    .footer__links_secondary_list span {
      font-size: 5px;
      position: relative;
      bottom: 3px; }
    .footer__links_secondary_list li {
      margin-right: 20px; }
  .footer__links_secondary_list .footer__links_item {
    font-family: RalewayRegular; }
  .footer__links_socials {
    display: flex; }
    .footer__links_socials a {
      margin-left: 22px;
      font-size: 19px;
      color: #384b5f; }
      .footer__links_socials a:hover {
        color: #fff; }
    .footer__links_socials_container {
      display: inline-block; }
  .footer__links_panel {
    color: #fff; }

@media screen and (max-width: 1440px) {
  .container {
    padding: 0 15px 0 15px; } }

@media screen and (max-width: 1216px) {
  .stats {
    height: 300px; } }

@media screen and (max-width: 860px) {
  .header__nav_burger {
    display: block; }
  .header__nav_container {
    justify-content: flex-end; }
  .header__links_list {
    display: none; }
  .header__sign_up_btn {
    display: none; } }

@media screen and (max-width: 616px) {
  .stats {
    height: 600px; }
    .stats__item {
      width: calc(100% - 15px); } }

.container {
  max-width: 1440px;
  margin: 0 auto; }
